@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie");

@font-face {
	font-family: LinBio;
	src: url(fonts/LinBiolinum_R.woff);
}

@font-face {
	font-family: LinBio;
	src: url(fonts/LinBiolinum_RB.woff);
	font-weight: bold;
}

@font-face {
	font-family: megalopolis;
	src: url(fonts/MEgalopolisExtra.otf);
}

@font-face {
	font-family: KafeelCOLR;
	src: url(fonts/Kafeel/KafeelPainter-Layers-COLR.ttf);
}

@font-face {
	font-family: KafeelSVG;
	src: url(fonts/Kafeel/KafeelPainter-Layers-SVG.ttf);
}

#for-browser {
	background: #333;
	background-image: linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,.5)), linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,.5));
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
}

#intro {
	background: linear-gradient(to right, transparent 20%, black),
	            url("img/moveable.png") left / cover;
	background-blend-mode: multiply, normal;
	text-align: right;
	color: white;
}

	#intro h1 {
		position: absolute;
		top: .4em;
		right: .4em;
		width: 7em;
		margin: 0;
		text-align: inherit;
		font-size: 400%;
		line-height: 1;
		font-weight: normal;
	}

		#intro h1 strong {
			color: var(--tan);
			font-size: 112%; /* To align with 1st line */
		}
	
	#intro h2 {
		width: 8em;
		margin: .4em 0 0;
		font-size: 200%;
		line-height: 1;
		text-decoration: none;
		position: absolute;
		right: .8em;
		bottom: .8em;
		color: inherit;
	}

	#intro a {
		text-decoration: none;
	}

	#intro .twitter {
		font-weight: normal;
		font-size: 102%; /* To align with 1st line */
	}
	
	#intro .attribution {
		position: absolute;
		bottom: -.5em;
		color: white;
		font-size: 80%;
	}
	
		#intro .attribution a {
			text-decoration: none;
		}

#topics {
	padding: 0;
	font: bold 300% var(--heading-font);
}

	#topics h1 {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#topics ul {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		#topics li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			background: center / cover no-repeat;
			color: black;
		}

		#topics li:nth-of-type(n+3) {
			color: white;
		}

.titleslide {
	padding: 0;
	font: bold 300% var(--heading-font);
}

	.titleslide h1 {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

#basics {}

	#basics h1 {
		background: none;
		color: black;
	}

/* 
#charglyph {
	padding: 0;
	flex-flow: column;
}

	#charglyph:target {
		display: flex;
	}

	#charglyph dl {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

		#charglyph dl dt {
			font-size: 250%;
			line-height: 1.1;
		}

	#charglyph dl+dl {
		background: var(--buff);
		color: var(--darkgrey);
	}

		#charglyph dl+dl dt {
			color: var(--orange);
		}

		*/

.split-definition {
	padding: 0;
	flex-flow: column;
}

	.split-definition:target {
		display: flex;
	}

	.split-definition dl, .split-definition pre {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

		.split-definition dl dt {
			font-size: 250%;
			line-height: 1.1;
			font-family: var(--heading-font);
			font-weight: bold;
		}


	.split-definition dl+dl {
		background: var(--buff);
		color: var(--darkgrey);
	}

		.split-definition dl+dl dt {
			color: var(--orange);
		}

.charquiz {
	text-align: center;
}
	
	.charquiz:not(:target) {
		display: flex;
		flex-flow: column;
	}

	.charquiz p {
		margin: 0;
	}

	.charquiz .character {
		flex: 1;
		font: 80vh/.9 Baskerville, Garamond, Georgia, serif;
	}

#familyface {}

	#familyface article {
		width: fit-content;
		margin: 1.1em 2em;
		font-size: 160%;
	}

		#familyface h1 {
			font-family: inherit;
			margin: 0;
			text-indent: .4em;
			line-height: .7;
		}

		#familyface ul {
			position: relative;
			padding: .3em .8em;
			border-radius: .3em;
			margin: 0;
			background: var(--darkgrey);
			color: var(--buff);
		}

			#familyface li {
				display: inline;
				list-style: none;
			}

			#familyface li.break::after {
				content: "\A";
				white-space: pre;
			}

		#familyface ul .note {
			position: absolute;
			left: 99%;
			white-space: nowrap;
		}

.hi {
	padding: 1vmin;
	background: #4E5D58;
	font-size: 160%;
}

	.hi .delayed:not(.current):not(.displayed),
	#csswg-announcement .delayed:not(.current):not(.displayed),
	#contact.delayed:not(.current):not(.displayed) {
		transform: translateY(-100vh);
	}

	.hi p {
		margin: 0;
		padding-top: .5em;
		font: 220%/1 'Free Sans', sans-serif;
	}

	.hi img {
		position: absolute;
		bottom: 1em;
		right: 1em;
		box-shadow: 4px 4px 10px #2D2C2C;
	}

	.hi figure {
		margin: 2em auto 0;
		width: fit-content;
		max-height: 99vh;
		background: white;
		padding: 15px;
		box-shadow: 2px 2px 30px black;
		transform: rotate(-2deg);
	}
	
		.hi figure img {
			max-width: 100%;
			object-fit: cover;
		}
		
		.hi figure figcaption {
			display: block;
			padding-bottom: .1em;
			text-align: center;
			color: black;
			text-shadow: none;
			font: 300%/.7 var(--handwriting-font);
		}
	
		.hi figure img {
			background: url(img/grass.svg), url(img/starburst.svg), linear-gradient(hsl(200, 84%, 85%), hsl(200, 84%, 90%));
			background-position: 50% 200px, 0 -100px, 0 0;
			background-repeat: repeat-x, no-repeat;
			background-size: auto, 100% auto;
		}


		
		.hi ul {
			line-height: 1.7;
			margin: 0;
		}
		
			.hi li {
				display: inline;
			}
			
				.hi li:before {
					content: none;
				}
				
				.hi li a {
					display: inline-block;
					padding: .2em .3em .25em;
					border-radius: .2em;
					line-height: 1;
					text-decoration: none;
					background: #2D2C2C;
				}
				
				.hi li a:not(:hover) {
					color: #D66039;
				}
			
		#csswg, #webfontswg, #webaudiowg {
			color: #E79D5E;
		}
		
			#csswg strong, #webfontswg strong, #webaudiowg strong{
				display: block;
				color: #9E9D81;
				font: bold 100% 'Free Sans', Helvetica Neue, sans-serif;
			}


/* tooltip animation */

.subject:not(.slide) {
	position: relative;
	z-index: 1;
}

.subject::before,
.subject::after {
	display: block;
}

.tooltip {
	display: none;
	position: absolute;
	z-index: 100;
	max-width: 90vw;
	padding: 1em;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .5em;
	box-shadow: .1em .1em 1em rgba(0,0,0,.5);
	overflow: auto;
	background: white;
	font-size: 90%;
}

@keyframes show { 
	from {
		opacity: .3;
	}
}

.tooltip.active {
	display: block;
	animation: show .4s;
}

	.tooltip > code {
		white-space: pre-wrap;	
	}



.comment {
	color: red;
	font-family: 'Reenie Beanie', sans-serif;
	font-weight: normal;
}



/* Styling for individual code samples */

#descriptors, #descrip2 {
	position: absolute;
	top: 16em;
	bottom: 0;
	right: 0;
	left: auto;
	width:20em;
	height: 15em;
	padding-left: 2em;
}

/*
pre.inline {
	margin-left: 2em;
	padding-left: 2em;
	width: 70%;
}

pre.inline code {
	
}
*/


/* styles for split example/code slides */
.vsplit .figure {
	position: absolute;
	top: 200px;
	left: -30px;
	width: 50%;
	height: 80%;
	background: #4E5D58;
	overflow: visible;
}

.vsplit textarea {
	position: absolute;
	top: 200px;
	right: 0;
	width: 50%;
	height: 80%;
	left: 50%;
}

.hsplit .figure {
	position: absolute;
	top: 200px;
	left: -15px;
	width: 100vw;
	height: 40%;
	background: #4E5D58;
	overflow: hidden;
}

.hsplit textarea {
	position: absolute;
	top: 640px;
	right: 0;
	width: 100%;
	height: 40%;
	left: 0%;
}


/* and for specific examples */

#prop-desc dt,
#charglyph dt {
	font-family: var(--heading-font);
	font-weight: bold;
	color: var(--tan);
}


#faces li {
	margin-left: 2em;
}

.apology { 
	color: #D66039;
}

#fancy-ampersand.split-definition dt {
	/* font-family: var(--ampersand-font); */
	font-family: amp, Arvo, serif;
}


#OTfeatures.image.slide > h1:only-child {
	margin-top: 210px;
}


#OTF-sample p {
	font-family: megalopolis;
	font-size: 300%;
	font-variant-ligatures: discretionary-ligatures ;
	text-align: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-shadow: 3px 3px 7px var(--dark-green);
}

	#OTF-sample p.modeste {
		font-size: 240%;
		color: var(--orange);
	}

/* Why not use the <figure> element? */
.figure {
	margin-left: auto;
	margin-right: auto;
}

#kCOLR, #kSVG { 
	font-size: 600%; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top:0;
	margin-bottom:0;
	width: 90vw
}

#kCOLR {
	font-family: KafeelCOLR; 
}

#kSVG {
	font-family: KafeelSVG; 
}

footer.slide {
	text-align: center;
	padding-top: 1em;
	color: #9E9D81;
}

	footer.slide img {
		border-radius: 50%;
	}
	
	footer.slide h1 {
		margin-top: 0;
	}

	footer.slide > ul {
		margin: auto;
		width: 6em;
		color: #D66039;
		text-align: left;
	}
	
		footer.slide > ul a {
			color: #F3D69B;
			text-decoration: none;
		}



.slide.browser-support {

}

	.slide.browser-support h1 {
		font-weight: 100;
	}

		.slide.browser-support h1 strong {
			display: block;
			font-size: 150%;
		}

	div.browser-support {
		text-align: center;
		margin-bottom: 2em;
		white-space: nowrap;
	}
		
		.browser-support > dfn {
			position: relative;
			margin: 110px 0 0 110px;
			display: inline-block;
			min-width: 1em;
			padding: .4em;
			border: .2em solid transparent;
			text-align: center;
			font-size: 70%;
			font-style: normal;
			line-height: 1;
			font-weight: 200;
		}
		
		.browser-support > dfn:empty {
			opacity: .5;
			filter: url(img/blur.svg#blur);
			filter: blur(5px);
		}
		
		.browser-support > dfn:not(:empty) {
			border-color: white;
			background: yellowgreen;
			background-image: linear-gradient(transparent, rgba(0,0,0,.5));
			color: white;
			border-radius: 2em;
			box-shadow: 0 3.8em 0 -3em hsla(0,0%,100%,.2) inset, .1em .1em .3em black;
		}
		
		.browser-support > dfn.partial {
			background-color: #f90;
		}
		
			.browser-support > dfn:empty:after {
				content: '\a0';
			}
		
			.browser-support > dfn:before {
				position: absolute;
				bottom: -10px;
				right: -5px;
				z-index: -1;
				width: 150px;
				height: 150px;
				background: no-repeat center;
			}
			
			.browser-support > dfn.unreleased:before {
				opacity: .5;
			}
			
			.browser-support > dfn[title="firefox"]:before {
				content: url(img/firefox-logo.png);
			}
			
			.browser-support > dfn[title="opera"]:before {
				content: url(img/opera-logo.png);
			}
			
			.browser-support > dfn[title="ie"]:before {
				content: url(img/ie-logo.png);
			}
			
			.browser-support > dfn[title="chrome"]:before {
				content: url(img/chrome-logo.png);
			}
			
			.browser-support > dfn[title="safari"]:before {
				content: url(img/safari-logo.png);
			}

.question.delayed {
	position: relative;
	display: inline-block;
	opacity: 1;
	border-bottom: .05em dotted var(--dark-green);
	font: 300%/.6 var(--handwriting-font);
}

	.question.delayed::after {
		content: attr(data-answer);
	}

	.question.delayed:not(.current):not(.displayed)::before {
		content: "?";
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		color: var(--dark-green);
	}

	.question.delayed:not(.current):not(.displayed)::after {
		visibility: hidden;
	}

#font-variant-numeric, #fractions, #tabular {
	padding: 0;
	text-align: center;	
}

	#font-variant-numeric p, #fractions p {
		margin: 0;
		font-family: LinBio;
		font-size: 350%;
	}

	 #tabular table {
		margin-left: auto;
		margin-right: auto;
		text-align: right;
		font-family: LinBio;
		font-size: 280%;
	}

	#font-variant-numeric pre, #fractions pre, #tabular pre {
		margin-top: 1em;
	}

	#font-variant-numeric select, #fractions select, #tabular select {
		text-align: right;
	}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline;
	background: transparent;
	border: none;
	font: inherit;
	color: inherit;
	vertical-align: middle;
	
}